.card {
  display: flex;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;

  &--outlined {
    border: 1px solid #ddd;
  }

  &--raised {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  }

  &--shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
}